/* Common */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* Text Rules */

h1 {
    margin-bottom: 4%;
}

h2 {
    margin: 3% 0;
}


/* Password generator */

h2#root {
    display: inline-block;
}

#password {
    margin-left: 10px;
    font-size: 30px;
    font-weight: 700;
    text-decoration: underline;
    color: red;
}

#make-custom-profile {
    display: none;
}