/* Password generator */

body {
    padding-top: 100px;
    text-align: center;
}

h1 {
    margin-bottom: 4%;
}

h2#root {
    display: inline-block;
}

#password {
    margin-left: 10px;
    font-size: 30px;
    font-weight: 700;
    text-decoration: underline;
    color: red;
}